.filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.filter > *:first-child {
  flex: 1;
  min-width: 200px;
}

.filter > *:last-child {
  width: 250px;
  max-width: 250px;
}

@media (max-width: 760px) {
  .filter {
    align-items: stretch;
    flex-direction: column;
  }

  .filter > *:first-child,
  .filter > *:last-child {
    width: 100%;
    max-width: none;
  }
}
